.content {
	border-radius: 1rem;
	width: 90%;
	max-width: 375px;
	background-color: white;

	@include flex(column);

	.cover-photo {
		img {
			object-fit: cover;
			width: 100%;
			height: 200px;
			border-top-left-radius: 1rem;
			border-top-right-radius: 1rem;
		}
	}

	.blog {
        border-bottom: 1px transparent solid;
		overflow: hidden;
		position: relative;
		padding-block: 2.5rem 0;

		&-heading {
			padding: 0 2rem;
		}
		&-post {
			padding: 1.25rem 2rem;
		}
		&-profile-card {
			margin: .625rem 0;
			outline: solid 1px magenta;
			padding: .625rem 2rem;
			@include grid(center);
			grid-template-columns: auto auto 1fr;
			width: 100%;

			.avatar {
				height: 40px;
				img {
					border-radius: 100%;
					max-width: 40px;
				}
			}

			.op-date {
				margin-left: 1rem;
				strong {
					color: $Very-Dark-Grayish-Blue;
				}
			}
			.share {
				position: relative;
				z-index: 10;
				justify-self: flex-end;
				&-btn {
					background-color: $Light-Grayish-Blue;
					width: 36px;
					height: 36px;
					border-radius: 100%;
					border: none;
					cursor: pointer;
					transition: background-color 0.3s ease;

					// &-btn {
					// 	position: relative;
					// 	z-index: 10;
					// }
					svg > path {
						transition: fill 0.3s ease;
						// fill: #FFFFFF;
					}
				}
			}
			.hidden-share {
				background-color: $Very-Dark-Grayish-Blue;
				position: absolute;
				z-index: 1;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 74px;
				padding: 1rem 2rem;
				border-bottom-left-radius: 1rem;
				border-bottom-right-radius: 1rem;

				transform: translateY(100%);
				opacity: 0;

				transition: transform 0.3s ease, opacity 0.3s ease;

				@include grid(center);
				grid-template-columns: auto 1fr;
				p {
					color: $Light-Grayish-Blue;
					font-weight: lighter;
					text-transform: uppercase;
					letter-spacing: 0.375rem;
				}
				ul {
					margin-left: 1rem;
					line-height: 0;
					@include flex(row, center);

					li {
						max-width: 22px;
						img {
							width: 100%;
							height: auto;
						}

						&:not(:first-child) {
							margin-left: 1rem;
						}
					}
				}
			}
		}
	}
}

.in {
	transform: translateY(0%) !important;
	opacity: 1 !important;
}

.in-btn {
	background-color: $Desaturated-Dark-Blue !important;

	svg > path {
		fill: $Light-Grayish-Blue;
	}
}

// .in{
//     animation: mobile-in .3s ease forwards;
// }
// .out{
//     animation: mobile-out .3s ease forwards;
// }

// @keyframes mobile-in{
//     0%{
//         transform: translateY(100%);
//         opacity: 0;
//     }

//     100%{
//         transform: translateY(0%);
//         opacity: 1;
//     }
// }

// @keyframes mobile-out{
//     0%{
//         transform: translateY(0%);
//         opacity: 0;
//     }
// }
